---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*
  -darwin-*,
  -fuchsia-*,
  -linuxkernel-*,
  -llvm*,
  -mpi-*,
  -objc-*,
  -zircon-*,
  -google-readability-todo,
  -modernize-use-trailing-return-type
# WarningsAsErrors: >
#   *,
HeaderFilterRegex: ''
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: ^(ec)$
  - key: readability-identifier-length.IgnoredParameterNames
    value: ^(ec)$
